<!DOCTYPE html>
<html>

<head>
    <title>mirza.town</title>
    <meta charset="UTF-8">
    <meta name="author" content="Mirza Atlı">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">

    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#151515" media="(prefers-color-scheme: dark)">
    <link rel="canonical" href="https://mirza.town/now.html" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="preload" href="/ConfigRoundedRegular.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedBold.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedItalic.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedBoldItalic.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedLight.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedLightItalic.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedMedium.woff2" as="font" type="font/woff" />
    <link rel="preload" href="/ConfigRoundedSemibold.woff2" as="font" type="font/woff" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div>
            <a href="/"><strong>mirza.town</strong></a>
        </div>
        <div>
            <a href="/about.html">about</a>
            <a href="/archive.html">archive</a>
            <a href="/rss.xml">rss</a>
        </div>
    </header>
    <main>
        <!-- auto-generate-marker -->
    </main>